:root {
    --hero-bg-color: #2E2F42;
    --footer-bg-color: #2E2F42;
    --primary-text-color: #434455;
    --primary-title-color: #2E2F42;
    --main-footer-color: #F4F4FD;
    --main-title-color: #fff;
    --nav-links-color: #2E2F42;
    --accent-color: #4D5AE5;
    --contact-link-color: #434455;
    --hover-link-color: #404BBF;

}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}


/* header */
.nav-logo {
    font-family: "Raleway", sans-serif;    
    text-decoration: none;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-span {
    color: #2e2f42;
}

.nav-link {
    text-decoration: none;
    color: var(--nav-links-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.address {
    font-style: normal;
}

.adress-link {
    text-decoration: none;
    color: var(--contact-link-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.nav-link:hover,
.adress-link:hover {
    color: var(--hover-link-color);
}
.nav-link:focus,
.adress-link:focus {
    color: var(--hover-link-color);
}

/* hero */
.hero {
    background-color: var(--hero-bg-color);
}
.hero-title {
    text-align: center;
    color: var(--main-title-color);
    font-size: 56px;
    Font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.button {
    background-color: var(--accent-color);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}
.button:hover {
    background-color: #404BBF;
}
.butoon:focus {
    background-color: #404BBF;
}

/* about */
.about-item-title {
    color: var(--primary-title-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.about-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* team */

.team-title {
    color: var(--primary-title-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-item-title {
    color: var(--primary-title-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* portfolio */

.portfolio-title {
    color: var(--primary-title-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.portfolio-item-title {
    color: var(--primary-title-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* footer */

.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-logo-span {
    background-color: #f4f4fd;
}
.footer-text {
    color: var(--main-footer-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
